repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: check-commit-msg
        name: Check Commit Message Format
        entry: python check_commit_msg.py
        language: python
        stages: [commit-msg]
        always_run: true
